html, body {
    width: 100%;
    height: 100%;
}

#wait {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#load {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game {
    width: 100%;
    height: 100%;
}

#game > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myArticle {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    border-bottom: 1px solid black;
    width: 100%;
    background: #b459ff;
}

#myArticle > span {
    line-height: normal;
    color: black;
}

#toggleArticle {
    float: right;
    padding: 5px;
    background-color: lightgrey;
    border: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    margin-top: -1px;
}

table {
    margin-top: 10px;
}

td {
    border: 1px solid black;
}

#ownBoard td {
    width: 100px;
    height: calc(100px + 1.5em);
}

#opponentBoard td {
    height: 50px;
    width: 50px;
}

table td > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

table td > div > img {
    width: 100%;
}



.unflipped {
    background: #e9c9ff;
}

.flipped {
    background: grey;
    opacity: 0.4;
}

#opponentBoard td > div.flipped {
    background: grey;
}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    max-width: none;
    padding: 0;
}

.tooltip-inner img {
    width: 300px;
    border-radius: .25rem;
}